<section>
  <ul class="train-station-list">
    <li class="train-station">One</li>
    <li class="train-station">Two</li>
    <li class="train-station">Three</li>
    <li class="train-station">Four</li>
  </ul>
</section>
